.padLeft5 {
  padding-left: 5px;
}

.tabLists .nav-tabs a {
  border-radius: 0 !important;
  border: 1px solid #ddd !important;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.tabLists .nav-tabs a:not(:first-child) {
  border-left-color: transparent !important;
}

.tabLists .nav-tabs a.active {
  border-bottom-color: #9c27b0 !important;
  border-bottom-width: 2px !important;
}

.tabLists .nav-tabs a:hover, .tabLists .nav-tabs a.active {
  background-color: #fff !important;
}

.tabLists .myTabContainer {
  background-color: #fff;
}

.tabLists .myTabContainer.fullscreen {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.tabLists .myTabContainer.fullscreen .popbox_container {
  max-width: 90% !important;
}

.tabLists .tab-content {
  border: 1px solid #ddd;
  background-color: #fff;
}

.tabLists .tab-content .mainHeader .toolbar {
  height: 40px;
  border-bottom: 1px solid #eee;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabLists .tab-content .mainHeader .toolbar .delimiter {
  font-size: 18px;
  padding: 5px 8px;
  color: #ddd;
}

.tabLists .tab-content .mainHeader .toolbar .toolLeft {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  line-height: 40px;
  text-align: center;
}

.tabLists .tab-content .mainHeader .toolbar .toolLeft > a {
  font-size: 18px;
  padding: 5px 8px;
}

.tabLists .tab-content .mainHeader .toolbar .toolLeft > a.disabled {
  opacity: .5;
}

.tabLists .tab-content .mainHeader .toolbar .toolRight {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.tabLists .tab-content .mainHeader .toolbar .toolRight > div {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.tabLists .tab-content .mainHeader .toolbar .toolRight > div > input {
  margin-top: 1px;
  display: inline-block;
  width: 200px;
}

.tabLists .tab-content .mainHeader .toolbar .toolRight > div > button {
  height: 36px;
  display: inline-block;
  margin-top: 1px;
  border-radius: 0;
  margin-left: -1px;
}

.tabLists .tab-content .mainContent {
  padding: 30px 15px 0 50px;
  overflow-y: auto;
}

.tabLists .tab-content .mainContent .headingTable {
  color: #3C4858;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}

.inputBoxControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputBoxControl:not(:first-child) {
  margin-top: 20px;
}

.inputBoxControl label {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-top: 10px;
}

.inputBoxControl .inputControl {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.inputBoxControl label,
.inputBoxControl input {
  font-size: 14px;
  color: #3C4858;
}

.inputBoxControl .form-control {
  width: 80%;
}

.dtAllUsers > header .jqBTNs {
  font-size: 18px;
}

.actionButtons {
  margin: auto;
}

.actionButtons .btn {
  padding: 5px;
  margin: 0;
}

.actionButtons > a {
  padding: 5px !important;
}

.sweet-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=tabsList.css.map */