.ms-spinButton > div > div:first-child {
  display: block !important;
  float: none !important;
}

.ms-spinButton > div > div:last-child {
  display: flex !important;
  float: none !important;
}

i[data-icon-name] .fa {
  font-size: 12px !important;
}
