.pb-button.--default {
   
    display: inline-block;
    text-decoration: none;
    border-radius: 0 !important;
    outline: none !important;
    transition: all .2s;
    -webkit-transition: all .2s;   

}