.frontend-creator {
  font-family: 'Tahoma';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
}

.frontend-creator .none {
  display: none;
}

.frontend-creator .container {
  width: 90% !important;
}

.frontend-creator img, .frontend-creator iframe {
  max-width: 100%;
  height: auto;
}

.frontend-creator .fluidContainerToolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  padding: 10px 0;
}

.frontend-creator .btnTNavigation {
  font-size: 15px;
}

.frontend-creator .btnTNavigation span.fa {
  font-size: 18px;
}

.frontend-creator .btnTNavigation span.caption {
  padding-left: 10px;
}

.frontend-creator .fluidContainerMain {
  margin-top: 100px;
}

.frontend-creator .padleft10 {
  padding-left: 10px;
}

.frontend-creator .padleft5 {
  padding-left: 5px;
}

.frontend-creator label {
  font-weight: 700 !important;
}

.frontend-creator label[for] {
  padding-left: 5px;
}

.frontend-creator .inputBlock:not(:first-child),
.frontend-creator .mtop10 {
  margin-top: 10px;
}

.frontend-creator .w200p {
  width: 200px;
}

.frontend-creator .ck.ck-editor__main, .frontend-creator .ck.ck-editor__main > div {
  min-height: 250px;
}

.frontend-creator .rowFluid {
  min-height: 60px;
  border: 1px dashed #ddd;
  position: relative;
  display: flex;
  width: 100%;
}

.frontend-creator .rowFluid:not(:first-child) {
  margin-top: 30px;
}

.frontend-creator .rowFluid .addElement {
  display: block;
  text-align: center;
  min-height: 60px;
}

.frontend-creator .rowFluid .addElement:before {
  content: "\f067";
  font-family: 'FontAwesome';
  font-size: 25px;
  line-height: 60px;
  padding-left: 20px;
  color: #ccc;
  cursor: pointer;
}

.frontend-creator .rowFluid .rowToolbar {
  position: absolute;
  display: flex;
  top: -25px;
  left: -1px;
  color: #8c8888;
}

.frontend-creator .rowFluid .rowToolbar > div {
  padding: 0 5px;
  border: 1px dashed #ccc;
  cursor: pointer;
  border-bottom-color: transparent;
}

.frontend-creator .rowFluid .rowToolbar > div:not(:first-child) {
  margin-left: 0;
  border-left-color: transparent;
}

.frontend-creator .rowFluid .rowToolbar > div.removeRow > span {
  color: #d42b2b;
}

.frontend-creator .rowFluid .menuToolbarDropDown {
  position: absolute;
  background-color: #fff;
  z-index: -1;
  height: 0;
  overflow: hidden;
  transition: height .2s;
  -webkit-transition: height .2s;
}

.frontend-creator .rowFluid .menuToolbarDropDown.active {
  overflow: auto;
  z-index: 10;
  height: auto;
}

.frontend-creator .rowFluid .menuToolbarDropDown ul {
  padding: 0;
  list-style: none;
  width: 50px;
}

.frontend-creator .rowFluid .menuToolbarDropDown ul li {
  padding: 5px 5px 0 3px;
}

.frontend-creator .rowFluid .rowContainer {
  display: flex;
  width: 100%;
}

.frontend-creator .rowFluid .rowContainer .columnFluid {
  min-height: 60px;
  padding: 0;
}

.frontend-creator .rowFluid .rowContainer .columnFluid:not(:first-child) {
  border-left: 1px dotted #ccc;
}

.frontend-creator .components {
  padding: 5px;
}

.frontend-creator .components ._ui_component {
  position: relative;
  padding: 5px;
  transition: border-color .2s;
  -webkit-transition: border-color .2s;
  border: 1px dashed transparent;
}

.frontend-creator .components ._ui_component ._ui_toolbar {
  position: absolute;
  top: -30px;
  left: 50px;
  z-index: -1;
  background-color: #fff;
  border: 1px dashed #ccc;
  opacity: 0;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
}

.frontend-creator .components ._ui_component ._ui_toolbar a {
  color: #8c8888;
  padding: 0 10px;
  display: block;
  float: left;
}

.frontend-creator .components ._ui_component ._ui_toolbar a:not(:first-child) {
  border-left: 1px dashed #ccc;
}

.frontend-creator .components ._ui_component:hover {
  border-color: #ddd;
}

.frontend-creator .components ._ui_component:hover ._ui_toolbar {
  z-index: 10;
  opacity: 1;
}

.frontend-creator .AddElementModal .btnCreateComponent {
  height: 45px;
  font-size: 15px;
  margin: 10px 10px 0 0;
}

.frontend-creator .popbox.componentModal {
  overflow: hidden;
}

.frontend-creator .popbox.componentModal .popbox_container {
  max-width: 90%;
}

.frontend-creator .popbox.componentModal .popbox_container .text {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}

.frontend-creator .popbox.componentModal .popbox_container .text > .wrapperPanel {
  display: flex;
}

.frontend-creator .popbox.componentModal .popbox_container .text > .wrapperPanel .settingsPanel {
  width: 40%;
  padding-right: 20px;
  border-right: 1px solid #eee;
}

.frontend-creator .popbox.componentModal .popbox_container .text > .wrapperPanel .previewPanel {
  width: 60%;
  padding-left: 20px;
}

.frontend-creator .popbox.componentModal .popbox_container .text > .wrapperPanel .previewPanel > div {
  position: fixed;
  z-index: 10;
}
